asgiref==3.12.1
black==26.5.1
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
Django==6.1.1
djangorestframework==3.18.1
idna==3.20
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pillow==12.3.0
platformdirs==4.11.13
psycopg2==2.9.13
pytokens==0.4.1
PyYAML==6.0.3
requests==2.34.2
sqlparse==0.6.0
tzdata==2026.4
urllib3==2.8.0
